Django~=5.1.7
django-auth-ldap~=5.1.0
asgiref~=3.8.1
sqlparse~=0.5.3
# 基础包
mysqlclient~=2.2.7
orjson~=3.10.16
# 必须whl安装的包
python-ldap~=3.4.4
# 项目包
django-environ~=0.12.0
django-ninja~=1.4.0
pydantic~=2.11.1
django-ninja-extra~=0.22.6
django-ninja-jwt~=1.4.0
django-tinymce~=4.1.0
PyJWT~=2.10.1
cryptography~=44.0.2
ninja-schema~=0.14.1
user-agents~=2.2.0
numpy~=2.2.4
docxtpl~=0.19.1
python-docx~=1.1.2
Jinja2~=3.1.6
django-redis~=5.4.0
pandas~=2.2.3
beautifulsoup4~=4.13.3
python-dateutil~=2.9.0.post0
redis~=5.2.1